*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    
    width: 100%;
    height: 100%;
}

#main{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgb(148, 186, 148);
}

#panel{
    width: 80%;
    height: 80%;
    background-color: aliceblue;
    border-radius: 10px;
    overflow: hidden;
}

#ptop{
    padding: 0px 30%;
    justify-content: space-between;
    display: flex;
    align-items: center;
    color: white;
    width: 100%;
    height: 100px;
    background-color: rgb(36, 92, 36);
}

.elem{
    gap: 10px;
    display: flex;
    align-items: center;
    
}

.box{
    color: rgb(57, 142, 57);
    font-weight: 600;
    font-size: 20px;
    padding: 8px 15px;
    background-color: white;
    border-radius: 5px;
}

#pbtm{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
    padding: 10px;
    width: 100%;
    height: calc(100% - 100px);
    
}

.bubble{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 19px;
    width: 50px;
    height: 50px;
    background-color: rgb(84, 120, 84);
    color: white;
    border-radius: 50%;
}

.bubble:hover{
    cursor: pointer;
    background-color: rgb(43, 67, 43);
}